In [12]:
import pandas as pd
df = pd.read_csv('dados.csv')
df

,batalha,ano,portugueses,holandeses,ingleses,racio,espanhois,vitoria
0,Bantam,1601,6,3,0,2.000,0,0
1,Malacca Strait,1606,14,11,0,1.273,0,0
2,Ilha das Naus,1606,6,9,0,0.667,0,-1
3,Pulo Butum,1606,7,9,0,0.778,0,1
4,Surrat,1615,6,0,4,1.500,0,0
5,Ilha das Naus,1615,3,5,0,0.600,0,-1
6,Jask,1620,4,0,4,1.000,0,0
7,Hormuz,1622,6,0,5,1.200,0,-1
8,Mogincoal Shoals,1622,4,4,2,0.667,0,-1
9,Hormuz,1625,8,4,4,1.000,0,0
10,Goa,1636,6,4,0,1.500,0,0
11,Goa,1637,6,7,0,0.857,0,0
12,Goa,1638,6,8,0,0.750,0,1
13,Colombo,1654,5,3,0,1.667,0,1
14,Goa,1658,9,9,0,1.000,0,0
15,Invincible Armada,1588,69,0,31,2.226,1,-1
16,Bahia,1624,4,13,0,0.308,1,-1
17,Bahia,1625,35,20,0,1.750,1,1
18,Bahia,1627,4,10,0,0.400,1,-1
19,Recife,1630,9,60,0,0.150,1,-1
20,Abrolhos,1631,17,16,0,1.063,1,0
21,Bahia,1636,2,8,0,0.250,1,0
22,Dunas,1639,51,11,0,4.636,1,0
23,Dunas,1639,38,110,0,0.345,1,-1
24,Paraiba,1640,16,30,0,0.533,1,0
25,Tamandare,1645,6,7,0,0.857,1,-1
26,Recife,1653,14,5,0,2.800,1,1
27,Lisbon,1657,7,10,0,0.700,1,0

In [13]:
#%pylab inline
import pylab as pl
import numpy as np
#from sklearn import datasets, linear_model
import pandas as pd
import statsmodels.api as sm

# import the cleaned up dataset

df = pd.read_csv('dados.csv')

port = df['portugueses']
hol = df['holandeses'] 
ing = df['ingleses']
esp = df['espanhois']
vit = df['vitoria']


# reshape the data from a pandas Series to columns 
# the dependent variable
y = np.matrix(vit).transpose()
# the independent variables shaped as columns
x1 = np.matrix(port).transpose()
x2 = np.matrix(hol).transpose()
x3 = np.matrix(ing).transpose()
x4 = np.matrix(esp).transpose()

# put the two columns together to create an input matrix 
# if we had n independent variables we would have n columns here
x = np.column_stack([x1,x2,x3,x4])

# create a linear model and fit it to the data
X = sm.add_constant(x)
model = sm.OLS(y,X)
f = model.fit()

print('coeficients: ',f.params[0:4])
print('Intercept: ',f.params[4])
print('P-Values: ',f.pvalues)
print('R-Squared: ',f.rsquared)

coeficients:  [-0.05752095  0.02654692 -0.01460529 -0.08293093]
Intercept:  -0.270810995312
P-Values:  [ 0.75577071  0.05114901  0.04703065  0.01525448  0.38245304]
R-Squared:  0.282072371217